In [ ]:
import numpy as np;
import matplotlib.pyplot as plt;
import pandas as pd;
from sklearn.model_selection import train_test_split;
print("Zebra");

Zebra

In [ ]:
# Data loading
df = pd.read_csv(r'housing.csv', sep=r'\s+', header=None, encoding="utf-8", engine='python');
#df.head(10);
#df.shape;
print(df.head(10));
column_names = [
    'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE',
    'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV'
];
df_copied = df.copy();
df_copied.columns = column_names;
df_copied.head(10);

print(df_copied.head(10));
#print(df_copied.shape);

        0     1     2   3      4      5   ...  8      9     10      11     12    13
0  0.00632  18.0  2.31   0  0.538  6.575  ...   1  296.0  15.3  396.90   4.98  24.0
1  0.02731   0.0  7.07   0  0.469  6.421  ...   2  242.0  17.8  396.90   9.14  21.6
2  0.02729   0.0  7.07   0  0.469  7.185  ...   2  242.0  17.8  392.83   4.03  34.7
3  0.03237   0.0  2.18   0  0.458  6.998  ...   3  222.0  18.7  394.63   2.94  33.4
4  0.06905   0.0  2.18   0  0.458  7.147  ...   3  222.0  18.7  396.90   5.33  36.2
5  0.02985   0.0  2.18   0  0.458  6.430  ...   3  222.0  18.7  394.12   5.21  28.7
6  0.08829  12.5  7.87   0  0.524  6.012  ...   5  311.0  15.2  395.60  12.43  22.9
7  0.14455  12.5  7.87   0  0.524  6.172  ...   5  311.0  15.2  396.90  19.15  27.1
8  0.21124  12.5  7.87   0  0.524  5.631  ...   5  311.0  15.2  386.63  29.93  16.5
9  0.17004  12.5  7.87   0  0.524  6.004  ...   5  311.0  15.2  386.71  17.10  18.9

[10 rows x 14 columns]
      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222.0     18.7  396.90   5.33  36.2
5  0.02985   0.0   2.18     0  0.458  ...  222.0     18.7  394.12   5.21  28.7
6  0.08829  12.5   7.87     0  0.524  ...  311.0     15.2  395.60  12.43  22.9
7  0.14455  12.5   7.87     0  0.524  ...  311.0     15.2  396.90  19.15  27.1
8  0.21124  12.5   7.87     0  0.524  ...  311.0     15.2  386.63  29.93  16.5
9  0.17004  12.5   7.87     0  0.524  ...  311.0     15.2  386.71  17.10  18.9

[10 rows x 14 columns]

In [ ]:
# Numpied


df_np = df_copied.to_numpy();
#print(df_np);
X = df_np[:, :-1];
y = df_np[:, -1];
#print(X);
#print(y);
ones = np.ones((X.shape[0], 1));
X_Design = np.concatenate((ones, X), axis=1);
#print(X);

In [ ]:
X_Train, X_Test, y_Train, y_Test = train_test_split(X_Design, y, test_size=0.2, random_state=42);

In [ ]:
# Initialisation
theta = np.zeros(X_Design.shape[1]);
#print(theta);
s = np.zeros(X_Design.shape[1]);
#print(s);
p = 0.9;

row,col = X_Design.shape;
#print(row);
#print(col);
m = row;
print(type(X))

<class 'numpy.ndarray'>

In [ ]:
def RMSProp(MAT, iterations=50000, rho=0.9, step_size=0.01):

    if not isinstance(MAT, np.ndarray):
        raise TypeError("Input must be a NumPy array")

    # Split X and y
    X = MAT[:, :-1]
    y = MAT[:, -1].reshape(-1, 1)

    # Add bias column
    X = np.hstack([np.ones((X.shape[0], 1)), X])

    # Train-test split
    X_Train, X_Test, y_Train, y_Test = train_test_split(
        X, y, test_size=0.2, random_state=42
    )

    # Dimensions
    m, n = X_Train.shape

    # Initialization
    theta = np.zeros((n, 1))
    s = np.zeros((n, 1))
    eps = 1e-8

    # Training loop
    for _ in range(iterations):
        grad = (2/m) * X_Train.T @ (X_Train @ theta - y_Train)
        s = rho * s + (1 - rho) * (grad ** 2)
        theta = theta - step_size * grad / (np.sqrt(s) + eps)

    # Evaluation
    y_pred = X_Test @ theta

    mae = np.mean(np.abs(y_Test - y_pred))
    mse = np.mean((y_Test - y_pred) ** 2)
    rmse = np.sqrt(mse)
    r2 = 1 - np.sum((y_Test - y_pred)**2) / np.sum((y_Test - np.mean(y_Test))**2)

    print("MAE:", mae)
    print("MSE:", mse)
    print("RMSE:", rmse)
    print("R²:", r2)
    print("Theta:", theta.ravel())

    return theta

In [ ]:
fin_theta = RMSProp(df_np,5000000);

MAE: 5.128677757724569
MSE: 49.14088641443371
RMSE: 7.0100560921032375
R²: 0.3299011138290592
Theta: [ 3.02417471e+01 -1.18055922e-01  2.51104647e-02  3.53807175e-02
  2.77943819e+00 -1.72076315e+01  4.43383541e+00 -1.12963632e-02
 -1.45286531e+00  2.57429720e-01 -1.56467860e-02 -9.20456181e-01
  7.35133527e-03 -5.13571415e-01]

In [ ]:
print(fin_theta);

[-0.10547235  0.02917569  0.028571    2.73465227 -5.16011967  6.19097333
 -0.01608091 -1.025035    0.13381847 -0.01279673 -0.45908744  0.0118434
 -0.43089164]